<mat-horizontal-stepper labelPosition="bottom" #stepper ngClass="formulario">
    <mat-step [stepControl]="firstFormGroup">
      <form [formGroup]="firstFormGroup">
        <ng-template matStepLabel>Datos Básicos</ng-template>
        <div ngClass='row'>
          <mat-form-field>          
            <mat-label>Nombre del comercio: </mat-label>
            <input matInput placeholder="Nombre de la compañia" formControlName="firstCtrl" required>
          </mat-form-field>
        </div>

        <div ngClass='row'>
          <mat-form-field> 
            <mat-label> País: </mat-label> 
            <mat-select> 
              <mat-option *ngFor = "let country of countrys" [value] = "country.value">
                {{country.viewValue}}
              </mat-option> 
            </mat-select> 
          </mat-form-field>
        </div>

        <div ngClass='row'>
          <mat-form-field>
            <mat-label>Mail: </mat-label>
            <input matInput placeholder="ejemplo@correo.com" formControlName="firstCtrl" required>
          </mat-form-field>
        </div>

        <div ngClass='row'>
          <mat-form-field>
            <mat-label>Ciudad: </mat-label>
            <input matInput placeholder="http://www.url-comercio.com" formControlName="firstCtrl" required>
          </mat-form-field>
        </div>

        <div ngClass='row'>
          <mat-form-field>
            <mat-label>Descripción: </mat-label>
            <input matInput placeholder="http://www.url-comercio.com" formControlName="firstCtrl" required>
          </mat-form-field>
        </div>

        <div ngClass='row'>
          <mat-form-field>
            <mat-label>Codigo Postal: </mat-label>
            <input matInput placeholder="0000" formControlName="firstCtrl" required>
          </mat-form-field>
        </div>

        <div ngClass='row'>
          <mat-form-field>
            <mat-label>Mapa o Dirección: </mat-label>
            <input matInput placeholder="0000" formControlName="firstCtrl" required>
          </mat-form-field>
        </div>

        <div ngClass='row'>
            <div class="example-container mat-elevation-z8">
              <table mat-table [dataSource]="dataSource" ngClass="tablaHorarios">

                <!--  Column -->
                <ng-container matColumnDef="symbol">
                  <th mat-header-cell *matHeaderCellDef> Horario </th>
                  <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
                </ng-container>
            
                <!-- Position Column -->
                <ng-container matColumnDef="position">
                  <th mat-header-cell *matHeaderCellDef> Lunes </th>
                  <td mat-cell *matCellDef="let element"> 
                    <input type="radio" name="lun" value= {{element.symbol}}>  
                  </td>
                </ng-container>
            
                <!-- Name Column -->
                <ng-container matColumnDef="name">
                  <th mat-header-cell *matHeaderCellDef> Martes </th>
                  <td mat-cell *matCellDef="let element"> 
                      <input type="radio" name="mar" value= {{element.symbol}}>
                  </td>
                </ng-container>
            
                <!-- Weight Column -->
                <ng-container matColumnDef="weight">
                  <th mat-header-cell *matHeaderCellDef> Miercoles </th>
                  <td mat-cell *matCellDef="let element"> 
                    <input type="radio" name="mier" value= {{element.symbol}}>  
                  </td>
                </ng-container>
            
                <!-- Symbol Column -->
                <ng-container matColumnDef="a">
                  <th mat-header-cell *matHeaderCellDef> Jueves </th>
                  <td mat-cell *matCellDef="let element"> 
                    <input type="radio" name="jue" value= {{element.symbol}}>
                  </td>
                </ng-container>

                <!--  Column -->
                <ng-container matColumnDef="b">
                  <th mat-header-cell *matHeaderCellDef> Viernes </th>
                  <td mat-cell *matCellDef="let element">
                    <input type="radio" name="vie" value= {{element.symbol}}>  
                  </td>
                </ng-container>

                <!--  Column -->
                <ng-container matColumnDef="c">
                  <th mat-header-cell *matHeaderCellDef> Sabado </th>
                  <td mat-cell *matCellDef="let element"> 
                    <input type="radio" name="sab" value= {{element.symbol}}>
                  </td>
                </ng-container>

                <!--  Column -->
                <ng-container matColumnDef="d">
                  <th mat-header-cell *matHeaderCellDef> Domingo </th>
                  <td mat-cell *matCellDef="let element"> 
                    <input type="radio" name="dom" value= {{element.symbol}}>
                  </td>
                </ng-container>
            
                <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
              </table>
            </div>
        </div>

        <div>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup" >
      <form [formGroup]="secondFormGroup">
        <ng-template matStepLabel>Logo</ng-template>
        
        <app-section-image></app-section-image>

        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Done</ng-template>
      <p>You are now done.</p>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button (click)="stepper.reset()">Reset</button>
      </div>
    </mat-step>
  </mat-horizontal-stepper>
  